/* 
  ========================================
  CUSTOM CURSOR
  ========================================
*/
.cursor-dot, .cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 99999;
    pointer-events: none;
}

.cursor-dot {
    width: 4px;
    height: 4px;
    background-color: var(--cursor-color);
    transition: opacity 0.3s ease;
}

.cursor-circle {
    width: 20px;
    height: 20px;
    border: 1px solid var(--cursor-color);
    mix-blend-mode: difference;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

/* Hover State for Cursor */
body.hovering .cursor-circle {
    transform: translate(-50%, -50%) scale(2);
    background-color: #ffffff;
    border-color: transparent;
}

body.hovering .cursor-dot {
    opacity: 0;
}

/* Hide custom cursor and restore default on touch devices */
@media (hover: none) and (pointer: coarse) {
    .cursor-dot, .cursor-circle {
        display: none !important;
    }
    
    *, *::before, *::after {
        cursor: auto !important;
    }
}
