/* 
  ========================================
  VARIABLES & THEME
  ========================================
*/
:root {
    color-scheme: light dark;
    
    --bg-color: light-dark(#f0f0f5, #1a1a1e);
    --text-primary: light-dark(#2a2a2a, #e0e0e5);
    --text-outline: light-dark(#5a5a70, #e0e0e5);
    --text-secondary: light-dark(#5a5a70, #a0a0b0);
    --line-color: light-dark(rgba(90, 90, 112, 0.2), rgba(224, 224, 229, 0.2));
    --blob-1: light-dark(#6bffd5e0, #164233);
    --blob-2: light-dark(#ff9580e0, #4a2b26);
    --blob-3: light-dark(#ffff90e0, #424018);
    --blob-4: light-dark(#a88affe0, #2d2550);
    --blob-5: light-dark(#80d4ffe0, #1a404a);
    --blob-6: light-dark(#ff80bfe0, #4a1a35);
    --blob-7: light-dark(#d4ff80e0, #2b4a1a);
    --blob-8: light-dark(#ffb380e0, #4a321a);
    /* --blob-1: light-dark(#80ffc5, #2a2a35);
    --blob-2: light-dark(#ffa08c, #3a3a45);
    --blob-3: light-dark(#fffc79, #1f1f25);
    --blob-4: light-dark(#b2a0fa, #4a3b55); */
    --cursor-color: light-dark(#151515, #e0e0e5);
    
    --font-main: 'VT323', monospace;
    --text-size-hero: clamp(3rem, 6vw, 5rem);
    
    /* Noise Variables for Grained.js implementation */
    --noise-opacity: light-dark(0.5, 0.4);
    --noise-blend: light-dark(multiply, screen);
    /* In dark mode, we invert the black noise to white */
    --noise-filter: light-dark(none, invert(1));
}

[data-theme="light"] {
    color-scheme: light;
    --noise-opacity: 0.5;
    --noise-blend: multiply;
    --noise-filter: none;
}

[data-theme="dark"] {
    color-scheme: dark;
    --noise-opacity: 0.4;
    --noise-blend: screen;
    --noise-filter: invert(1);
}

/* MOBILE TWEAKS */
@media (max-width: 768px) {
    :root {
        --noise-opacity: light-dark(0.5, 0.5);
    }
    
    [data-theme="dark"] {
        --noise-opacity: 0.4;
    }

    [data-theme="light"] {
        --noise-opacity: 0.5;
    }
}
